
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
	position: relative;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
}

body {
	color: #2b2b2b;
	padding: 24px;
	padding-bottom: 28px;
}

.switch-container {
	padding-top: 24px;
}

button {
	border-style: solid;
    border-width: 1px 1px 2px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: 0;
    overflow: hidden;
    font-weight: 500;
    text-overflow: ellipsis;
    text-decoration: none;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
    border-radius: 4px;
    padding: 7px 14px 9px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    color: #3d4145;
    border-color: #ccced0;
	margin-top: 24px;
	width: 220px;
}

button:hover {
    border-color: #969ca1;
}

.is-primary {
	background-color: #d52c82;
	border-color: #992053;
	color: #fff;
}

.is-primary:hover {
	border-color: #992053;
	background-color: #ff3997;
}

h1 {
  font-size: 15px;
}

.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  padding: 16px 0 16px 44px;
}
.switch-label:before, .switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}

.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}

.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: #F9DFEC; 
}
.switch-input:checked + .switch-label:after {
  background-color: #D52C82;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}
